
_repo/script.xbmcbackup/script.xbmcbackup-1.1.2.zip
_repo/script.module.uritemplate/README.md
_repo/script.module.uritemplate/LICENSE
_repo/script.module.uritemplate/lib/uritemplate/__init__.py
_repo/script.module.uritemplate/icon.png
_repo/script.module.uritemplate/addon.xml
